//Created by ahmedgalal on 11/7/14.
doctype  html
html
    head
title = "Khbar4u.com Authorization Request"
    body
        p Hi #{user.username}
        p
            b  #{client.name}  is requesting
                b "full access sudo to your account"
        p  "Do you approve?"

    form(action='/oauth2/authorize', method='post')
        input(name='transaction_id', type='hidden', value= transactionID )
        div
            input(type='submit', value='Allow', id='allow')
            input(type='submit', value='Deny', name='cancel', id='deny')




